body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: limegreen;
  text-align: center;
}

#content {
  padding: 25px;
  border-radius: 10px;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
  background-color: black;
  border: 1px solid limegreen;
}

#timer {
  font-size: 48px;
  margin-bottom: 20px;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #0044cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

#leaderboard {
  margin-top: 30px;
}

#leaderboard h2 {
  font-size: 36px;
}

#leaderboard ul {
  list-style: none;
  padding: 0;
}

#leaderboard ul li {
  font-size: 24px;
  margin: 5px 0;
}
